.nav-content{
  background-color: #F7F4F6;
  width: 240px;

  padding: 30px 50px 30px 30px;
  margin: 30px 0 30px 30px;
}

.nav-title{
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.nav-lists{
  width: 100%;
}

.nav-list{
  display: flex;
  width: 180px;
  border-top: 1px solid #000;
  padding: 10px;

}

.dropdown-list{
  margin-left: 25px;
  font-size: 14px;
}

.dropdown-text{
  margin-bottom: 10px;
}