<%# サイドバー %>
<div class='nav-content'>
<script src="qual_list.js"></script>
  <h3 class='nav-title'>
    ジャンルから探す
  </h3>
  <ul class='nav-lists'>
    <li class='nav-list'>IT・パソコン</li>
    <li class='nav-list'>食・料理</li>
    <li class='nav-list'>金融・法律</li>
    <li class='nav-list'>美容・ファッション</li>
    <li class='nav-list'>サービス・冠婚葬祭</li>
    <li class='nav-list'>生物・環境</li>
    <li class='nav-list'>公務員・教育</li>
    <li class='nav-list'>乗り物</li>
    <li class='nav-list'>技能・工業</li>
  </ul>
  <div class='lists-contents'>
    <ul class='nav-lists'>
      <li class='nav-list' onclick="toggleDropdown('it');">IT・パソコン</li>
      <ul id='it' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">IT・パソコン項目1</li>
        <li class="dropdown-text">IT・パソコン項目2</li>
      </ul>
      <li class='nav-list' onclick="toggleDropdown('food');">食・料理</li>
      <ul id='food' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">食・料理項目1</li>
        <li class="dropdown-text">食・料理項目2</li>
      </ul>
      <li class='nav-list' onclick="toggleDropdown('finance')">金融・法律</li>
      <ul id='finance' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">金融・法律項目1</li>
        <li class="dropdown-text">金融・法律項目2</li>
      </ul>
      <li class='nav-list' onclick="toggleDropdown('beauty')">美容・ファッション</li>
      <ul id='beauty' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">美容・ファッション項目1</li>
        <li class="dropdown-text">美容・ファッション項目2</li>
      </ul>
      <li class='nav-list' onclick="toggleDropdown('services')">サービス・冠婚葬祭</li>
      <ul id='services' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">サービス・冠婚葬祭項目1</li>
        <li class="dropdown-text">サービス・冠婚葬祭項目2</li>
      </ul>
      <li class='nav-list' onclick="toggleDropdown('biology')">生物・環境</li>
      <ul id='biology' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">生物・環境項目1</li>
        <li class="dropdown-text">生物・環境項目2</li>
      </ul>
      <li class='nav-list' onclick="toggleDropdown('public')">公務員・教育</li>
      <ul id='public' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">公務員・教育項目1</li>
        <li class="dropdown-text">公務員・教育項目2</li>
      </ul>
      <li class='nav-list' onclick="toggleDropdown('vehicles')">乗り物</li>
      <ul id='vehicles' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">乗り物項目1</li>
        <li class="dropdown-text">乗り物項目2</li>
      </ul>
      <li class='nav-list' onclick="toggleDropdown('skills')">技能・工業</li>
      <ul id='skills' class='dropdown-list' style='display: none;'>
        <li class="dropdown-text">技能・工業項目1</li>
        <li class="dropdown-text">技能・工業項目2</li>
      </ul>
    </ul>
  </div>
</div>
<%# /サイドバー %>