<%# サイドバー %>
<div class='nav-content'>
  <h3 class='nav-title'>
    ジャンルから探す
  </h3>
  <ul class='nav-lists'>
    <li class='nav-list'>IT・パソコン</li>
    <li class='nav-list'>食・料理</li>
    <li class='nav-list'>金融・法律</li>
    <li class='nav-list'>美容・ファッション</li>
    <li class='nav-list'>サービス・冠婚葬祭</li>
    <li class='nav-list'>生物・環境</li>
    <li class='nav-list'>公務員・教育</li>
    <li class='nav-list'>乗り物</li>
    <li class='nav-list'>技能・工業</li>
  </ul>
</div>
<%# /サイドバー %>