.contents{
  display: flex;
}

.main-contents{
  width: 100vw;
  margin: 50px;
}

.main-content{
  width: 90%;

  margin: 0 auto;
}

.main-title{
  width: 100%;
  font-size: 32px;
}

.question-lists{
  width: 100%;
}

.question-list{
  height: 100px;
  border-top: 1px solid #ddd;
  padding: 10px;
  margin: 40px 0;
}

.question-content{
  margin: 20px 0 20px 20px ;
}

.question-title{
  font-size: 20px;
}

.question-qual{
  color: grey;
  margin-left: 50px;
}

.question-button {
  background-color: green;
  position: fixed;
  top: 150px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.question-button-text{
  color: white;
  text-decoration: none;
}