.show-contents{
  display: flex;
}

.question-detail{
  margin: 15px 0 10px 10px;
}

.show-answer-contents{
  width: 95%;
  height: 100%;
  margin: 0 auto ;
  padding-top: 15px;
}


.show-btn-contents{
  display: flex;
  margin: 30px 0px 80px 0px;
}

.show-btn-content{
  margin-left: 30px;

}

.show-button-text{
  width: 120px;
  background-color: green;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.answer-btn-content{
  margin-left: 30px;
  width: 120px;
  background-color: green;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}



#answer-btn{
  margin-left: 20px;
  width: 120px;
  background-color: green;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.answer-form-contents{
  width: 80%;
}

#answer-text-form {
  width: 100%;
  padding: 10px;
  height: 300px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 20px 0 20px 40px;
}


.answer-post-btn {
  width: 120px;
  margin-left: 45%;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.show-bottom-contents{
  margin-top: 30px;
}

.answer-index-title{
  font-weight: bold;
  font-size: 18px;
}

.answer-index-contents{
  margin: 10px 0 30px 20px;
}

.answer-nickname{
  font-size: 16px;
}

.answer-text{
  margin-top: 15px;
  margin-left: 20px;
  letter-spacing: 1px;
}

.login-alert{
  margin-top: 50px;
}