.session-btn-content{
  width: 50%;
  text-align: center;

}

.session-btn{
  width: 120px;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 100px;
}